@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-image: url('https://e0.pxfuel.com/wallpapers/52/170/desktop-wallpaper-blame-movie-anime.jpg');
}

* {
    font-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    overflow: auto;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

button{
    display: flex;  
    justify-content: center;  
    align-items: center; 
    color: #636363;
    margin-top: 10px;
    margin-bottom: 10px; 

}

header {
    background: #ccc;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
}   

.container {
    background: #ccc;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    padding: 10px;
}